In [52]:
# Import Librariers
import pandas as pd
import numpy as np
import selenium
import time
import requests
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException
from selenium.webdriver.common.by import By
from selenium.common.exceptions import StaleElementReferenceException
import warnings
warnings.filterwarnings('ignore')

### We are scrapping data from Flipkart.com

In [53]:
# Connecting to the webdriver 
driver = webdriver.Chrome("chromedriver.exe")
driver.maximize_window()

In [54]:
# Getting the webpage of mentioned url
url = "https://www.flipkart.com/"
driver.get(url)
time.sleep(2)

In [55]:
# Clicking on close button 
driver.find_element_by_xpath("//div[@class='_2QfC02']/button").click()

In [56]:
# Listing down the items that need to be searched
srch_items = ['laptops', 'Phones','Smart Watches','Monitors','Printers']

In [57]:
# Creating empty lists to fetch required data
title = []           # Title of the product
review_text = []     # Text of the review or comments of the particular product
ratings = []         # Rating of the product

In [58]:
def scrapping():
    for i in driver.find_elements_by_xpath("//div[@class='t-ZTKy']"):
        review_text.append(i.text)
    for i in driver.find_elements_by_xpath("//p[@class='_2-N8zT']"):
        title.append(i.text)
    for i in driver.find_elements_by_xpath("//p[@class='_2-N8zT']/../div"):
        ratings.append(i.text)
    return

In [59]:
# Creating empty list to fetch the page URLs of the products
urls=[]

for i in srch_items:
    # Find search bar
    driver.find_element_by_xpath('/html/body/div/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input').clear()
    srchBar = driver.find_element_by_xpath('/html/body/div/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
    srchBar.clear()
    srchBar.send_keys(i)
    # Clicking on search button
    driver.find_element_by_xpath("//button[@class='L0Z3Pu']").click()
    time.sleep(3)
    
    page = []
    for i in driver.find_elements_by_xpath("//nav[@class='yFHi8N']/a"):
        page.append(i.get_attribute('href'))
    for i in page[0:6]:
        driver.get(i)
        time.sleep(3)
        items = driver.find_elements_by_xpath("//a[@class='_1fQZEK']")
        for i in items:
            urls.append(i.get_attribute('href'))

In [60]:
len(urls)

576

In [61]:
# Fetching the required data from the website
for i in urls:
    driver.get(i)
    time.sleep(2)
    for _ in range(2):
        driver.execute_script("window.scrollBy(0,6000)")
        time.sleep(1)
        # Clicking on all reviews
    try:
        btn=driver.find_element_by_xpath("//div[@class='_2c2kV-']/following::a")
        lnk = btn.get_attribute('href')
        driver.get(lnk)
        time.sleep(1)
    except NoSuchElementException:
        pass
    
# Calling the function
    scrapping() 
#if more than one page of review scrap that also
    try:
        n_page=driver.find_elements_by_xpath("//nav[@class='yFHi8N']/a")
        np=[]
        for i in n_page:
            np.append(i.get_attribute('href'))
        for i in np[0:18]:
            driver.get(i)
            time.sleep(1)
            scrapping()
    except: continue

In [62]:
# Checking the length of the columns
len(ratings), len(review_text), len(title)

(43402, 43402, 43402)

In [63]:
# Creating the dataframe for scraped data from the flipkart website
data = list(zip(title,review_text,ratings))
df2 = pd.DataFrame(data, columns = ["Review_title","Reiew_text","Ratings"])
df2

,Review_title,Reiew_text,Ratings
0,Really Nice,"The laptop is good, the performance is also go...",4
1,Just wow!,Good experience,5
2,Perfect product!,Unbelievable in this price a great machine by ...,5
3,Nice product,Chat issue facing,4
4,Must buy!,Very good performance\nBattery time short but ...,5
...,...,...,...
43397,Unsatisfactory,are not good,1
43398,Great product,Very nice product,5
43399,Great product,Very nice product,5
43400,Super!,Good shopping,5
43401,Super!,Good shopping,5

In [64]:
# Saving the scraped data into csv file
df2.to_excel("Flipkrt_reviews.xlsx")

### Scraping Reviews from https://www.amazon.in/Â¶

In [65]:
# Getting the webpage of mentioned url
url = "https://www.amazon.in/"
driver.get(url)
time.sleep(3)

In [66]:
# Listing down the items that need to be searched
srch_items = ['laptops','phones','headphones', 'Professional Cameras', 'Printers', 'Home theater']

In [73]:
# Creating empty lists to fetch required data
A_title = []           # Title of the product
A_review_text = []     # Text of the review or comments of the particular product
A_ratings = []         # Rating of the product

In [ ]:
# Fetching the required data from the website
for i in srch_items:
    srchbar = driver.find_element_by_id("twotabsearchtextbox")
    srchbar.send_keys(i)
    driver.find_element_by_id("nav-search-submit-button").click()  # Clicking on search button
    time.sleep(1)
    item_url = []
    for i in driver.find_elements_by_xpath("//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']/a"):
        item_url.append(i.get_attribute('href'))
    for i in item_url:
        driver.get(i)
        time.sleep(1)
        for _ in range(2):
            driver.execute_script("window.scrollBy(0,6000)")
            time.sleep(1)
        # Clicking on see all reviews
        try:
            driver.find_element_by_xpath("//a[@class='a-link-emphasis a-text-bold']").click()
        except:
            pass
        
        url_ = []
        try:
            two_str = driver.find_element_by_xpath("//table[@id='histogramTable']/tbody/tr[4]/td[2]/a")
            url_.append(two_str.get_attribute('href'))
        except: pass
        try:
            three_str = driver.find_element_by_xpath("//table[@id='histogramTable']/tbody/tr[3]/td[2]/a")
            url_.append(three_str.get_attribute('href'))
        except: pass
        try:
            one_str = driver.find_element_by_xpath("//table[@id='histogramTable']/tbody/tr[5]/td[2]/a")
            url_.append(one_str.get_attribute('href'))
        except: pass
        try:
            fiv_str = driver.find_element_by_xpath("//table[@id='histogramTable']/tbody/tr[1]/td[2]/a")
            url_.append(fiv_str.get_attribute('href'))
        except: pass
        try:
            four_str = driver.find_element_by_xpath("//table[@id='histogramTable']/tbody/tr[2]/td[2]/a")
            url_.append(four_str.get_attribute('href'))
        except: pass
        
        for i in url_:
            driver.get(i)
            time.sleep(1)
            for i in range(10):
                ids = driver.find_elements_by_xpath("//div[@class='a-section a-spacing-none review-views celwidget']/div")
                comment_ids = []
                for i in ids:
                    comment_ids.append(i.get_attribute('id'))

                for x in comment_ids:
                    # Extract user ids from each user on a page
                    try:
                        review_title = driver.find_element_by_xpath('//*[@id="' + x +'"]/div/div/div[2]/a[2]/span[1]')
                        A_title.append(review_title.get_attribute("innerHTML"))
                    except NoSuchElementException:
                        A_title.append('')

                    try:
                        rating = driver.find_element_by_xpath('//*[@id="' + x +'"]/div/div/div[2]/a[1]/i/span[1]')
                        A_ratings.append(rating.get_attribute("innerHTML"))
                    except NoSuchElementException:
                        A_ratings.append('')

                    try:
                        text = driver.find_element_by_xpath('//*[@id="' + x +'"]/div/div/div[4]/span/span')
                        A_review_text.append(text.get_attribute("innerHTML"))
                    except NoSuchElementException:
                        A_review_text.append('')
                try:
                    driver.find_element_by_xpath("//ul[@class='a-pagination']/li[2]/a").click()
                    time.sleep(3)
                except : break

In [77]:
len(A_ratings), len(A_title), len(A_review_text)

(6225, 6225, 6225)

In [78]:
data = list(zip(A_title,A_review_text,A_ratings))
Amazon= pd.DataFrame(data, columns = ["Review_title","Reiew_text","Ratings"])
Amazon

,Review_title,Reiew_text,Ratings
0,"Screen quality is very low , better to don't buy","It's been 5 months I bought this Laptop, start...",2.0 out of 5 stars
1,if you looking to get laptop to work then dont...,if you looking to get laptop to work then dont...,2.0 out of 5 stars
2,"Buy only if u got it under 41k , otherwise go...",Display 5/1 very poor display<br>Build 5/2<br>...,2.0 out of 5 stars
3,Worst product,One side speaker is crackling and not working...,2.0 out of 5 stars
4,Very disappointed with performance... ðŸ˜žðŸ˜žðŸ˜ž,"Screen battery is gd, but most important is pe...",2.0 out of 5 stars
...,...,...,...
6220,3rd class company is samsung,"No 1 ghatiya phone, 4 Months hua nahi hai phon...",1.0 out of 5 stars
6221,Spolier,"Camera- NOT worth, it's less than a 48 MP came...",1.0 out of 5 stars
6222,"Friends, you will regret a lot after not buyin...","Friends, after 05 years I took Samsung's M53 m...",1.0 out of 5 stars
6223,Waste product please dont buy its not working ...,Waste product please dont buy its not working ...,1.0 out of 5 stars
6224,,,

In [79]:
# Concatenating the two datasets 
reviews = pd.concat([df2, Amazon],ignore_index=True)
reviews

,Review_title,Reiew_text,Ratings
0,Really Nice,"The laptop is good, the performance is also go...",4
1,Just wow!,Good experience,5
2,Perfect product!,Unbelievable in this price a great machine by ...,5
3,Nice product,Chat issue facing,4
4,Must buy!,Very good performance\nBattery time short but ...,5
...,...,...,...
49622,3rd class company is samsung,"No 1 ghatiya phone, 4 Months hua nahi hai phon...",1.0 out of 5 stars
49623,Spolier,"Camera- NOT worth, it's less than a 48 MP came...",1.0 out of 5 stars
49624,"Friends, you will regret a lot after not buyin...","Friends, after 05 years I took Samsung's M53 m...",1.0 out of 5 stars
49625,Waste product please dont buy its not working ...,Waste product please dont buy its not working ...,1.0 out of 5 stars
49626,,,

In [80]:
# Saving the data into excel file
reviews.to_excel("Review_Ratings.xlsx",index=False)